.carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 30px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.carousel__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 410px;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  // margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.scroll-left {
  margin-top: 2.5%;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 300px;
  margin-left: 1px;
  border: 2px solid black;
  transition: all 0.6s;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}
.scroll-left:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
}
.scroll-left:hover .arrow {
  border-top: 2px solid rgba(255, 255, 255, 0.9);
  border-right: 2px solid rgba(255, 255, 255, 0.9);
}
.scroll-right {
  margin-top: 2.5%;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 300px;
  transition: all 0.6s;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}
.scroll-right:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
}

.scroll-right:hover .arrow {
  border-top: 2px solid rgba(255, 255, 255, 0.9);
  border-right: 2px solid rgba(255, 255, 255, 0.9);
}

.R {
  transform: rotate(-135deg);
  left: 16px;
}

.L {
  transform: rotate(45deg);
  left: -8px;
}
