.not_found-section {
  width: auto;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(33, 192, 139) 0%,
    rgb(143, 87, 253) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.not_found-div {
  text-align: center;
}
.span-404 {
  font-size: 8em;
  font-weight: bold;
}
.not_found-message {
  width: 15em;
}
